<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{uuid}}</title>
    <script>
      function openAll() {
            {% for url in urls %}
          window.open("{{url}}")
            {% endfor %}
      }
    </script>
  </head>
  <body>
    <h1>{{uuid}}</h1>
    <ul>
      {% for url in urls %}
      <li><a href="{{url}}" target="_blank">{{url}}</a></li>

      {% endfor %}
    </ul>
    {{views}}
  </body>

  <button onclick="openAll();">🎉</button>
</html>
