<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{uuid}}</title>
    <style>
      {% include "style.css" %}
    </style>
    <script>
      function openAll() {
        document.getElementById("go").innerHTML = "bam!!!!";
        {% for url in urls %}
        window.open("{{url}}")
        {% endfor %}

      }
    </script>
  </head>
  <body>
    <div class="banner">
      <div class="block">
        <span class="views">{{views}} views</span>
        <div>{{title}}</div>
        <div class="button_bar">
          <button id="go" , onclick="openAll();">view</button>
        </div>
      </div>
    </div>
  </body>
</html>
