<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Submit</title>
    <style>
      {% include "style.css" %}
    </style>

    <script>
      document.addEventListener("keypress", function (e) {
        if (e.key === "Enter") {
          createNurl();
        }
      });
      function addField() {
        const form = document.getElementById("nurl-form");
        let input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("name", "url");
        input.setAttribute("placeholder", "url or sentiment");
        form.appendChild(input);
      }

      function createNurl() {
        const form = document.getElementById("nurl-form");
        const elements = Array.from(form.elements);
        const data = {
          title: elements[0].value,
          urls: elements
            .filter((x) => x.name === "url" && x.value !== "")
            .map((x) => x.value),
        };

        if (!data.title) return;
        fetch("/submit", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(data),
        })
          .then((response) => response.json())
          .then(
            (json) => (location.href = "/submit/complete?nurl=" + json["id"])
          );
      }
    </script>
  </head>
  <body>
    <div class="submit">
      <div>🙏 Create a new Nurl!!!</div>
      <div>
        <form class="submit" id="nurl-form">
          <label>
            <input type="text" placeholder="Title" name="title" />
          </label>
          <label>
            <input type="text" placeholder="url or sentiment" name="url" />
          </label>
          <label>
            <input type="text" placeholder="url or sentiment" name="url" />
          </label>
        </form>
        <div class="button_bar">
          <button id="add" onclick="addField();">+</button>
          <button id="create" onclick="createNurl();">Create</button>
        </div>
      </div>
    </div>
  </body>
</html>
